* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 900px;
  background: #2FF1A0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
